.col-sm-3
.well.col-sm-6
  %center
    %legend
      %h2 Forgot your password?

  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = f.error_notification

    .form-inputs
      = f.input :email, required: true, autofocus: true

    .form-group
      .col-sm-offset-3.col-sm-9
        = f.submit "Send me reset password instructions", class: "btn btn-primary btn-block"

  = render "devise/shared/links"
  
.col-sm-3

